* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #333;
}

img {
  max-width: 100%;
}

h1 {
  color: #fff;
  text-transform: uppercase;
}
em {
  font-size: 1.5em;
}
.wrapper {
  margin: auto;
  width: 80%;
  background-color: #ffe;
  padding: 1.5rem 0;

}

.juego,
.opciones {
  width: 80%;
  height: 150px;
  border: 1px solid red;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2dvh auto;
  gap: 1em;
  /*padding: 2em;*/
}

.incognito__pc,
.incognito__usuario {
  border-radius: 50%;
}

.container-img {
  width: 20%
}